<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>myView_bg</key>
	<string>100,100,100</string>
	<key>myLabel_textColor</key>
	<string>100,0,255</string>
	<key>myLabel_bg</key>
	<string>255,255,255</string>
</dict>
</plist>
